//middle_bolck_start
.middle{
    background: #F6F6F6;
    height: 500px;
    width: 100%;
    margin-top: 100px;
    position: relative;
    &-right{
        position: absolute;
        top: 100px;
        right: 350px;
    }
    &-title{
        font-weight: 500;
        font-size:24px ;
    }
    &-wrap{
        display:flex;
     
    }
    &-title_red{
        color:rgba(255, 0, 0, 0.693) ;
    }
    &-subtitle{
            margin-top: 24px;
            font-size: 16px;
            font-weight: 400;
            line-height: 27px;
    }
}
//middle_bolck_end